aniso8601==1.2.0
appdirs==1.4.0
APScheduler==3.3.1
arrow==0.10.0
audioread==2.1.4
beautifulsoup4==4.5.3
blinker==1.4
bs4==0.0.1
cffi==1.9.1
click==6.7
cryptography==1.7.1
Cython==0.25.2
decorator==4.0.11
enum34==1.1.6
Flask==0.12
Flask-Ask==0.8.6
Flask-Login==0.3.2
Flask-Mail==0.9.1
flask-paginate==0.4.5
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-WTF==0.14.2
funcsigs==1.0.2
futures==3.1.1
gunicorn==19.7.1
honcho==0.7.1
idna==2.2
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.4
joblib==0.11
librosa==0.5.0
lightfm==1.12
MarkupSafe==0.23
nltk==3.2.2
numpy==1.12.1
packaging==16.8
passlib==1.7.1
psycopg2==2.7.1
pyasn1==0.1.9
pycparser==2.17
PyMySQL==0.7.10
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-dotenv==0.6.3
pytz==2017.2
PyYAML==3.12
requests==2.13.0
resampy==0.1.5
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
git+https://github.com/plamere/spotipy.git@7499d8e511ce3f5588a16702c9533233ec716cab
SQLAlchemy==1.1.6
tzlocal==1.4
Werkzeug==0.11.15
WTForms==2.1
zope.interface==4.3.3
