aniso8601==1.2.0
appdirs==1.4.0
arrow==0.10.0
blinker==1.4
cffi==1.9.1
click==6.7
cryptography==1.7.1
enum34==1.1.6
Flask==0.12
Flask-Ask==0.8.6
Flask-Login==0.3.2
Flask-Mail==0.9.1
flask-paginate==0.4.5
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-WTF==0.14.2
gunicorn==19.7.1
honcho==0.7.1
idna==2.2
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.4
MarkupSafe==0.23
packaging==16.8
passlib==1.7.1
psycopg2==2.7.1
pyasn1==0.1.9
pycparser==2.17
PyMySQL==0.7.10
pyOpenSSL==16.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-dotenv==0.6.3
PyYAML==3.12
requests==2.13.0
six==1.10.0
git+https://github.com/plamere/spotipy.git@7499d8e511ce3f5588a16702c9533233ec716cab
SQLAlchemy==1.1.6
Werkzeug==0.11.15
WTForms==2.1
