{% extends "layout.html" %}
{% block content %}
<h2> {{ user.username }}'s Connections</h2>
<hr>

<a class="btn btn-default" href="{{ url_for('profile', username=user.username) }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
 Return to {{ user.username }}'s profile</a>

<hr>
<h4> {{ user.username }}'s Followers</h4>

<table class="table" id="followers-table" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Username</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for follower in followers %}
    <tr>
      <td>{{ follower.username }}</td>
      <td>
        <a class="btn btn-default btn-sm" href="{{url_for('profile', username=follower.username)}}"> <span class="glyphicon glyphicon-info-sign"> </span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<hr>
<h4> {{ user.username }}'s Following</h4>

<table class="table" id="following-table" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Username</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for following in followings %}
    <tr>
      <td>{{ following.username }}</td>
      <td>
          <a class="btn btn-default btn-sm" href="{{url_for('profile', username=following.username)}}"> <span class="glyphicon glyphicon-info-sign"> </span></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}
