{% extends "layout.html" %}
{% block content %}
<div class="jumbotron" style="margin-top: 16px;">
  <h2>Welcome to DropMuse!</h2>
  <!-- <img src="{{ url_for('static', filename='favicons/android-icon-192x192.png') }}" class="center-block" /> -->
  <p>This service was created in order to help people find just the right music that they want to listen to.</p>
  <p>We hope you enjoy it!</p>
  <p><a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Sign up</a></p>
</div>
<body>

<div class="space"></div>
{% endblock %}