{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<style>

</style>
<body>

<div class="space">

<div>
<h2>Login Here!</h2>

  <div class="form-container">
  <form method="POST" action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    {{ form.username.label }} {{ form.username(size=20) }}
    {{ form.password.label }} {{ form.password(size=20) }}        
    <button type="submit" class="form-button">Login</button>
  </div>
</form>

<div class="space">

</body>
</html>


{% endblock %}