{% extends "layout.html" %}
{% block content %}
<h2>Playlist: {{ playlist.title }}</h2>
<button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#editPlaylistName">Edit</button>
<hr>
{% if songs|length > 0 %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Duration</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <td>{{song.title}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td>{{ format_duration(song.duration) }}</td>
      <td><a class="btn btn-default btn-sm" href="{{ url_for('song_info', song_id=song.id) }}"><span class="glyphicon glyphicon-info-sign"></span></a></td>
      {% if song.external_url != None %}
      <td>
        <a class="btn btn-sm btn-primary" href="{{ song.external_url }}" target="#"><span class="glyphicon glyphicon-play"></span></a>
      </td>
      {% else %}
      <td></td>
      {% endif %}
      <td> <a onclick="removeSongFromPlaylist({{song.id}}, {{playlist.id}})" class="btn btn-sm btn-default" ><span class="glyphicon glyphicon-minus-sign"></span></a> <td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
function removeSongFromPlaylist(songId, playlistId) {
  $.ajax({
    type: "POST",
    url: "{{ url_for('playlist_song_remove') }}",
    data: JSON.stringify({
      song_id: songId,
      playlist_id: playlistId
    }),
    contentType: "application/json",
    dataType: 'json',
    success: function() {
      window.location = "{{url_for('playlist', playlist_id="")}}" + playlistId;
    }
  });
}
</script>
{% else %}
<p style="padding-top: 16px;">This playlist has no songs. Use the search bar above to search for songs to add!</p>
{% endif %}

<!-- Edit Playlist Name modal -->
<div id="editPlaylistName" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <form id="playlist_name_form">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Playlist Title</h4>
        </div>
        <div class="modal-body">
            <label>Playlist Title</label>
            <input id="edit_playlist_input" type="text" class="form-control" placeholder="New playlist title...">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
$(function(){
  $('#playlist_name_form').on('submit', function(e){
    e.preventDefault();
    $.ajax({
      type: "PUT",
      url: "{{ url_for('playlist_edit') }}",
      data: JSON.stringify({
        playlist_id: {{ playlist.id }},
        title: $("#edit_playlist_input").val()
      }),
      contentType: "application/json",
      dataType: 'json',
      success: function() {
        location.reload();
      }
    });
  });
});
</script>
{% endblock %}
