{% extends "layout.html" %}
{% block content %}
<h2>Playlist: {{ id }}</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <td>{{song.title}}</td>
      <td>{{song.artist}}</td>
      <td>{{song.album}}</td>
      <td><a class="btn-sm btn-primary" href="{{song.external_url}}"><span class="glyphicon glyphicon-play"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if songs|length == 0 %}
<p>This playlist has no songs.</p>
{% endif %}

{% endblock %}
