{% extends "layout.html" %}
{% block content %}
{% include "_datatables.html" %}
<h2> {{ user.username }}'s Profile</h2>

<hr>
{% if playlists|length > 0 %}
<a href="{{url_for('playlist_create')}}" class="btn btn-default">New Playlist <span class="glyphicon glyphicon-plus-sign"></span></a>
</div>
<hr>
<h4>Playlists</h4>
<table class="table" id="playlist-table" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Songs</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for playlist in playlists %}
    <tr>
      <td>{{ playlist.title }}</td>
      <td>{{ playlist.count }}</td>
      <td>{{ "{}:{}".format(playlist.duration // 60, playlist.duration % 60) if playlist.duration else "0:00"}}</td>
      <td><a class="btn btn-default" href="{{url_for('playlist', playlist_id=playlist.id)}}">View</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>You have no playlists. Want to <a href="{{ url_for('playlist_create') }}">create</a> one?</p>
{% endif %}
{% endblock %}
