{% extends "layout.html" %}
{% block content %}
<h2> {{ user.username }}'s Profile</h2>
<hr>
{% if playlists|length > 0 %}
<!-- Connect to Spotify links -->

{% if current_user.spotify %}
<a href="{{url_for('spotify.disconnect')}}" class="btn btn-default">Disconnect Spotify Account <i class="fa fa-spotify"></i></a>
{% else %}
<a href="{{url_for('spotify.start_authentication')}}" class="btn btn-default">Connect to Spotify <i class="fa fa-spotify"></i></a>
{% endif %}

<hr>
<h4>Playlists</h4>
<a href="{{url_for('playlist_create')}}" class="btn btn-default">New Playlist <span class="glyphicon glyphicon-plus-sign"></span></a>
{% if user.spotify %}
  {% if user.username == current_user.username %}
  <a href="{{url_for('import_playlists')}}" class="btn btn-default">Import from Spotify <i class="fa fa-spotify"></i></span></a>
  {% endif %}
{% endif %}
<table class="table" id="playlist-table" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Songs</th>
      <th>Duration</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for playlist in playlists %}
    <tr>
      <td>{{ playlist.title }}</td>
      <td>{{ playlist.count }}</td>
      <td>{{ format_duration(playlist.duration) }}</td>
      <td>
        <a class="btn btn-default btn-sm" href="{{url_for('playlist', playlist_id=playlist.id)}}">View <span class="glyphicon glyphicon-th-list"></a>
        <a onclick="removePlaylistFromUser({{user.id}}, {{playlist.id}},'{{user.username}}')" class="btn btn-default btn-sm">Delete <span class="glyphicon glyphicon-minus-sign"></span></a>
        {% if current_user.spotify %}
        <a onclick="exportSpofityPlaylist({{playlist.id}})" class="btn btn-default btn-sm">Export <i class="fa fa-spotify"></i></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
function removePlaylistFromUser(userId, playlistId, userName) {
  $.ajax({
    type: "POST",
    url: "{{url_for('playlist_remove')}}",
    data: JSON.stringify({
      user_id: userId,
      playlist_id: playlistId
    }),
    contentType: "application/json",
    dataType: 'json',
  }).always(function() {
    location.reload();
  });
}

function exportSpofityPlaylist( playlistId) {
  $.ajax({
    type: "POST",
    url: "{{url_for('playlist_export')}}",
    data: JSON.stringify({
      playlist_id: playlistId,
    }),
    contentType: "application/json",
    dataType: 'json',
  }).always(function() {
    location.reload();
  });
}
</script>

{% else %}
{% if user.spotify %}
<a href="{{url_for('spotify.disconnect')}}" class="btn btn-default">Disconnect Spotify Account <i class="fa fa-spotify"></i></a>
<hr>
<a href="{{url_for('import_playlists')}}" class="btn btn-default">Import from Spotify <i class="fa fa-spotify"></i></span></a>
<hr>
{% else %}
<a href="{{url_for('spotify.start_authentication')}}" class="btn btn-default">Connect to Spotify <i class="fa fa-spotify"></i></a>
<hr>
{% endif %}

  {% if user.username == current_user.username %}
    <p>You have no playlists. Want to <a href="{{ url_for('playlist_create') }}">create</a> one?</p>
  {% else %}
    <p> {{ user.username}} has no playlists. </p>
  {% endif %}

{% endif %}
{% endblock %}
