{% extends "layout.html" %}
{% block content %}
<h2> {{ user.username }}'s Profile</h2>
<hr>
{% if playlists|length > 0 %}
<a href="{{url_for('playlist_create')}}" class="btn btn-default">New Playlist <span class="glyphicon glyphicon-plus-sign"></span></a>
</div>
<hr>
<h4>Playlists</h4>
<table class="table" id="playlist-table" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Songs</th>
      <th>Duration</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for playlist in playlists %}
    <tr>
      <td>{{ playlist.title }}</td>
      <td>{{ playlist.count }}</td>
      <td>{{ format_duration(playlist.duration) }}</td>
      <td><a class="btn btn-default btn-sm" href="{{url_for('playlist', playlist_id=playlist.id)}}">View</a></td>
      <td>
        <a onclick="removePlaylistFromUser({{user.id}}, {{playlist.id}},'{{user.username}}')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-minus-sign"></span></a>
      <td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
function removePlaylistFromUser(userId, playlistId, userName) {
  $.ajax({
    type: "POST",
    url: "{{url_for('playlist_remove')}}",
    data: JSON.stringify({
      user_id: userId,
      playlist_id: playlistId
    }),
    contentType: "application/json",
    dataType: 'json',
    success: function() {
      window.location = "{{url_for('profile', username="")}}" + userName;
    }
  });
}
</script>

{% else %}
<p>You have no playlists. Want to <a href="{{ url_for('playlist_create') }}">create</a> one?</p>
{% endif %}
{% endblock %}
