{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}

{% block content %}
<div class="form-container row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Early Adopters - Register Here!</h2>
    <div class="space"></div>
    <form method="POST" action="{{ url_for('register') }}">
      {{ form.csrf_token }}
      {{ render_field(form.username) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}  
      <button type="submit" class="form-button">Register</button>
    </form>
  </div>
</div>
<div class="space"></div>
{% endblock %}