{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>{{ song.title }}</h2>
    <p><b>Artist:</b> {{ song.artist }}</p>
    <p><b>Album:</b> {{ song.album if song.album else "Unknown" }}</p>
    {% if song.lyrics %}
    <p><b>Lyrics:</b><br>{{ song.lyrics.replace('\n', '<br>')|safe }}</p>
    {% endif %}
    {% if keywords|length > 0 %}
    <p><b>Keywords:</b></p>
      <ul>
      {% for kw in keywords %}
        <li>{{ kw.word }}</li>
      {% endfor %}
      <ul>
    {% endif %}
  </div>
</div>
<div class="space"></div>
{% endblock %}