{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>{{ song.title }}</h2>
    {% if song.preview_url != None %}
      <a class="btn btn-sm btn-primary pull-right" onclick="togglePlay(this)"><audio src="{{ song.preview_url }}" onended="handleAudioEnd(this)" onpause="handleAudioEnd(this)"></audio><span class="glyphicon glyphicon-play"></span></a>
    {% endif %}
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add to Playlist <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
      <ul class="dropdown-menu">
        {% for playlist in playlists %}
          <li><a onclick="addSongToPlaylist({{song.id}}, {{playlist.id}}, '{{song.title|escapejs}}', '{{playlist.title|escapejs}}', this)">{{playlist.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <p><b>Artist:</b> {{ song.artist }}</p>
    <p><b>Album:</b> {{ song.album if song.album else "Unknown" }}</p>
    {% if song.lyrics %}
    <p><b>Lyrics:</b><br>{{ song.lyrics.replace('\n', '<br>')|safe }}</p>
    {% endif %}
    {% if keywords|length > 0 %}
    <p><b>Keywords:</b></p>
      <ul>
      {% for kw in keywords %}
        <li>{{ kw.word }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    <p><b>Audio Analytics:</b></p>

    <ul>
      <li>Tempo: {{ song.tempo if song.tempo else "Unknown" }}</li>
      <li>Pitch: {{ song.pitch if song.pitch else "Unknown" }}</li>
      <li>Harmonic: {{ song.harmonic if song.harmonic else "Unknown" }}</li>
      <li>Percussive: {{ song.percussive if song.percussive else "Unknown" }}</li>
    </ul>

    {% if song.wave_info %}
    <div id="graph"></div>
    {% endif %}

    {% if similar|length > 0 %}
    <p><b>Similar Songs:</b></p>
      <ul>
      {% for sim in similar %}
        <li><a href="{{url_for('song_info', song_id=sim.id)}}">{{ sim.title }} - {{ sim.artist }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
</div>
<div class="space"></div>
{% include "_flash_success.html" %}
{% include "_add_song_to_playlist.html" %}
{% include "_audio_helper.html" %}
{% include "_pitch_graph.html" %}
{% include "_sound_wave_graph.html" %}
{% endblock %}
