{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>{{ song.title }}</h2>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add to Playlist <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
      <ul class="dropdown-menu">
        {% for playlist in playlists %}
          <li><a onclick="addSongToPlaylist({{song.id}}, {{playlist.id}}, '{{song.title|escapejs}}', '{{playlist.title|escapejs}}', this)">{{playlist.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <p><b>Artist:</b> {{ song.artist }}</p>
    <p><b>Album:</b> {{ song.album if song.album else "Unknown" }}</p>
    {% if song.lyrics %}
    <p><b>Lyrics:</b><br>{{ song.lyrics.replace('\n', '<br>')|safe }}</p>
    {% endif %}
    {% if keywords|length > 0 %}
    <p><b>Keywords:</b></p>
      <ul>
      {% for kw in keywords %}
        <li>{{ kw.word }}</li>
      {% endfor %}
      <ul>
    {% endif %}
  </div>
</div>
<div class="space"></div>
<script>
function addSongToPlaylist(songId, playlistId, songTitle, playlistTitle, elem) {
  if($(elem).hasClass('added'))
    return;
  $.ajax({
    type: "POST",
    url: "{{ url_for('playlist_song_add') }}",
    data: JSON.stringify({
      song_id: songId,
      playlist_id: playlistId
    }),
    contentType: "application/json",
    dataType: 'json',
    success: function() {
      $(elem).html($(elem).text() + " <span class='glyphicon glyphicon-ok'></span>");
      $(elem).addClass('added');
    }
  });
}
</script>
{% endblock %}